<section class="management-action-content">
    <section class="management-action-section">
        <div class="dashboard-info msg-container">
            <div id="calender"> </div>
        </div>
    </section>
    <aside class="management-action-aside">
        <div class="dashboard-info meeting-request-container">
            <div class="meeting-request">
                <center>Select a meeting date</center>
            </div>
        </div>
    </aside>
</section>
