<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="propertyRequisitionModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="ctnr-headers" style="color:#FFFFFF;"><label>Requisition/Question Posted Successfully</label> <span class="glyphicon glyphicon-check"></span></div>
                        </div>
                        <div class="modal-body">
                            Your Requisition/Question has been posted to the property owner
                            The property owner will return a response either by phone or email. 
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="location.reload(true);" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

