<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div id="createNewMessageModal" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div id="action-header">
                                <span class="glyphicon glyphicon-pencil"></span> Compose New Message
                            </div>
                        </div>
                        <div class="modal-body" >
                            <div class="container">
                                <div id="action-body">
                                    <h5>Send To | Hold the CTRL/COMMAND button to select multiple</h5>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <select id="messageRecipients" class="form-control" multiple></select>
                                        </div>
                                    </div>
                                    <br />
                                    <textarea id="new-message" class="form-control" placeholder="Compose new message" rows="4" cols="30"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="background-color:#FFFFFF;">
                            <button type="button" id="close-modal" class="btn btn-default" data-dismiss="modal">Close</button>'
                            <input class="btn btn-primary" type="submit" value="Send Message" id="send-new-message" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
