<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="propertyModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="ctnr-headers">Property Uploded Successfully <i class="fa fa-check" aria-hidden="true"></i></div>
                        </div>
                        <div class="modal-body">
                            Your property was successfully uploaded.
							It will be displayed immediately for the basic subscription and
                            it will be displayed within 24hrs of payment receival for the landlord subscription
							<br />
							<em>(Landlord Subscription)</em> To make payments, action the following instructions:
							<ol>
								<li><b>Sign in</b> to your account using your recently created credentials</li>
								<li>Select the <b>Account</b> link at the top the screen</li>
								<li>Select the <b>Subscription link</b></li>
								<li>Click the <b>Make Payment link</b></li>
							</ol>
							Check your spam emails if you do not see an email from us in you inbox
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="returnToDashboardPage();" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

