<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="propertyModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="ctnr-headers" style="color:#FFFFFF;"><label>Property Uploded Successfully</label> <span class="glyphicon glyphicon-check"></span></div>
                        </div>
                        <div class="modal-body">
                            Your property was successfully uploaded.
                            It will be displayed within 24hrs of payment receival
                            You will get a notification by text or email, announcing that
                            the property is now online for viewing
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="returnToHome();" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

