<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="tennantCreatedModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="ctnr-headers" style="color:#FFFFFF;"><label>Property Uploded Successfully</label> <span class="glyphicon glyphicon-check"></span></div>
                        </div>
                        <div class="modal-body">
                            You are successfully enrolled. Sign in to your portal to pay your bills, send messages to the owner or Make a complaint about the property
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="returnToSignInPage();" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



