<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="userCreatedModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="ctnr-headers"><label>Property Uploded Successfully</label> <span class="glyphicon glyphicon-check"></span></div>
                        </div>
                        <div class="modal-body">
                            User successfully created
                            You can now request properties or leave messages for property owners.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="returnToSignInPage();" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


