@using BotDetect.Web.Mvc

@{MvcCaptcha captcha = new MvcCaptcha("captcha");}
@Html.Captcha(captcha)
<br />
<label>Enter the characters presented in the image: </label>
@Html.TextBox("captchaCode", "", new { required = true })
