@using BotDetect.Web.Mvc

@{MvcCaptcha captcha = new MvcCaptcha("captcha");}
@Html.Captcha(captcha)
<br />
<label for="captchaCode">Enter the characters presented in the image before submitting: </label>
@Html.TextBox("captchaCode", "", new { required = true, @class="form-control" })
