<div id="room-selected-container" class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="table-condensed">
                <tr>
                    <td colspan="2"><input id="select-all" type="checkbox">Select All</td>
                </tr>
                <tr>
                    @foreach (var room in ViewBag.roomsOwned)
                    {
                        <td><input id="@room.id" type="checkbox" class="room-check"></td>
                        <td><div class="image-container"><img id="@room.id" src="@Url.Content("~/uploads/"+room.room_pic_url)"></div></td>
                    }
                </tr>
                <tr>
                    <td colspan="2"><input id="post-bills" type="button" class="btn" value="Post Bills"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
