<div class="row">
    <div class="dashboard col-md-12">
        <div class="dashboard-info-headers">
            Properties Owned
        </div>
        <div class="ctnr">
            <div id="housing-container">
                <div id="rooms-collection">
                    <!--Ajax content-->
                </div>
            </div>
        </div>
        <div id="housing-container-options-container">
            <div id="housing-container-options">
                <ul>
                    <li><a id="add-new-property" href="addNewProperty">Add New Property</a></li>
                </ul>
            </div>
        </div>
        <div id="d-messages">
            <div class="dashboard-info-headers">
                Messages
            </div>
            <div class="dashboard-info">
                <ul id="dashboard-messages">
                    <!--Ajax content-->
                </ul>
            </div>
        </div>
        <hr/>
        <div id="d-requisitions" >
            <div class="dashboard-info-headers">
                Requisitions
            </div>
            <div class="dashboard-info">
                <div id="dashboard-requisitions">
                    <!--Ajax content-->
                </div>
            </div>
        </div>
        <hr />
        <div id="d-requisitions">
            <div class="dashboard-info-headers">
                Requisitions Acceptance History
            </div>
            <div class="dashboard-info">
                <div id="dashboard-requisitions-history">
                    <!--Ajax content-->
                </div>
            </div>
        </div>
    </div>
</div>
