
@{
    ViewBag.Title = "JProps - Help";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
@section pageScript
{
    (function(){
    $('#help').attr('class','active');
    })();
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center><div class="ctnr-headers">Help</div></center>
        </div>
    </div>
</div>
