
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

@section pageScript
{

    (function(){
    $('#help').attr('class','active');
    })();
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Adding additional your property</h2>
            To add an additional property (room/house/land), simply select the button labelled "add property".
            Select the property then enter the required information.
        </div>
    </div>
</div>
