
@import url(http://fonts.googleapis.com/css?family=Raleway);

.ad-rules-container {
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 4px;
    height: 130px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #F4F4F2;
}

#ad-placement {
    padding: 1px;
    height: 20px;
}

.advertisment-section {
    background-color: #f7f7f7;
    height: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arrow-top {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: -30px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #509911;
}

.aside-header {
    color: #313233;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding-bottom: 6px;
}

.aside-property {
    list-style: none;
    padding: 0px;
    padding-left: 1px;
    padding: 10px;
    background-color: #4A7573;
}

    .aside-property li {
        padding-bottom: 5px;
    }

        .aside-property li a {
            display: block;
            text-decoration: none;
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 5px;
            padding-top: 5px;
            color: #FFFFFF;
            font-size: 13px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

    .aside-property a.active {
        display: block;
        border-top: 3.8px outset #4A7573;
        color: #4A7573;
    }

    .aside-property li a:hover {
        display: block;
        border-top: 3.8px outset #4A7573;
        color: #4A7573;
    }

html, body {
    height: 100%;
    z-index: 0;
    color: #524F52;
}

#body {
    padding-bottom: 50px;
}

#body-content {
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.btn-accent {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #AD0051), color-stop(1, #AD0051) );
    background-image: -o-linear-gradient(bottom, #AD0051 0%, #AD0051 100%);
    background-image: -moz-linear-gradient(bottom, #AD0051 0%, #AD0051 100%);
    background-image: -webkit-linear-gradient(bottom, #AD0051 0%, #AD0051 100%);
    background-image: linear-gradient(to bottom, #AD0051 0%, #AD0051 100%);
    color: #FFFFFF;
}

    .btn-accent:hover {
        background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #AD0051), color-stop(1, #AD0051) );
        background-image: -o-linear-gradient(bottom, #AD0051 0%, #AD0051 100%);
        background-image: -moz-linear-gradient(bottom, #AD0051 0%, #AD0051 100%);
        background-image: -webkit-linear-gradient(bottom, #AD0051 0%, #AD0051 100%);
        background-image: linear-gradient(to bottom, #AD0051 0%, #AD0051 100%);
        color: #FFFFFF;
    }

.btn-search { /*
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #499407), color-stop(1, #499407) );
    background-image: -o-linear-gradient(bottom, #499407 0%, #499407 100%);
    background-image: -moz-linear-gradient(bottom, #499407 0%, #499407 100%);
    background-image: -webkit-linear-gradient(bottom, #499407 0%, #499407 100%);
    background-image: linear-gradient(to bottom, #499407 0%, #499407 100%);
    color: #FFFFFF;*/
}

    .btn-search:hover { /*
        background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #509911), color-stop(1, #509911) );
        background-image: -o-linear-gradient(bottom, #509911 0%, #509911 100%);
        background-image: -moz-linear-gradient(bottom, #509911 0%, #509911 100%);
        background-image: -webkit-linear-gradient(bottom, #509911 0%, #509911 100%);
        background-image: linear-gradient(to bottom, #509911 0%, #509911 100%);
        color: #FFFFFF;*/
    }

.bg-lighter {
    background-color: #FEFEFE;
    border: 1px solid #F4F4F2;
    padding: 2px;
}

.btn-group {
    flex-flow: row wrap;
}

/* Declare heights because of positioning of img element 
.carousel .item {
    min-height: 400px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #777;
}
    */
.cart-headings {
    color: #AD0051;
}

.chevron-border {
    position: absolute;
    left: 0;
    right: auto;
    border: 1px solid black;
    background-color: black;
    opacity: 0.9;
    z-index: 2;
    width: 10px;
    height: 10px;
}

.contact-info-container ul {
    list-style: none;
    padding: 0;
}

    .contact-info-container ul li {
        list-style: none;
        padding: 0;
        padding-bottom: 10px;
    }

.contact-info-container {
    border: 1.6px solid #F5F5F5;
    position: relative;
    float: left;
    width: 48%;
    height: auto;
}

.contact-info-header {
    padding: 10px;
    background-color: #F5F5F5;
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.contact-info-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #6B6B6B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    word-spacing: 2px;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.content-heading {
    color: #007bff;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.clickable-box {
    width: 100%;
    text-align: center;
    padding: 5px;
    border: 1px solid #C1CED1;
    color: #524F52;
    background-color: #FFFFFF;
    border-radius: 2px;
}

.clickable-box-active {
    background-color: #AD0051;
    border: 1px solid #AD0051;
    color: #FFFFFF;
}

.clickable-box:hover {
    background-color: #AD0051;
    border: 1px solid #AD0051;
    color: #FFFFFF;
}

a.clickable-box-link {
    text-decoration: none;
}

.ctnr {
    padding: 10px;
    border-radius: 2px;
    background-color: #FFFFFF;
}


.ctnr-aside {
    border-bottom: 1.5px solid #AD0051;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    line-height: 18px;
    padding: 5px;
    width: 100%;
}

.ctnr-headers {
    display: flex;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    cursor: default;
    padding: 10px;
    border-radius: 3px;
}

.ctnr-info {
    font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #696969 !important;
}

.ctnr-options {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .ctnr-options li {
        display: inline-block;
    }

.col-width-4.col-xs-1 {
    width: 4%;
}

.dashboard {
    z-index: 0;
}

.dashboard-info-headers {
    display: block;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}


#dashboard-messages {
}

    #dashboard-messages ul.msg-list li {
        float: left;
    }

.dashboard-info ul {
    list-style: none;
    padding: 0px;
}

.dashboard-info li {
    border: 1px solid #EAE5E5;
}

    .dashboard-info li.msg {
        display: block;
        text-decoration: none;
        font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 1px;
    }

.dashboard-info .msg a {
    display: block;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 1px;
    border-radius: 2px;
}

    .dashboard-info .msg a:hover {
        background-color: #2D57A1;
        color: #FFFFFF;
    }

    .dashboard-info .msg a.active {
        background-color: #2D57A1;
        color: #FFFFFF;
    }

.dashboard-info::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.dashboard-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Handle */
.dashboard-info::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #EBEBEB;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

    .dashboard-info::-webkit-scrollbar-thumb:window-inactive {
        background: #EBEBEB;
    }

.details-col-header {
    width: 50%;
    background-color: #F4F4F2;
    padding: 5px;
    margin-bottom: 2px;
}

    .details-col-header::after {
        content: "";
        clear: both;
        display: table;
    }

.details-col-det {
    background-color: #FFFFFF;
    float: right;
    position: relative;
    right: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.extend-subsciption-container {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding: 10px;
    display: none;
}

.not-seen {
    background-color: #2D57A1;
    color: #FFFFFF;
}

.seen {
    border-bottom: 1px solid #499407;
    background-color: #FAFAFA;
    color: #74757D;
}

.txt {
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
}

.fullTxt {
    width: 100%;
    display: block;
    margin-top: 10px;
}

.txt-btns-container {
    padding: 5px;
    background-color: #509911;
    color: #FFFFFF;
}

.error {
    border: 1px solid #d66f5c;
    background-color: #d66f5c;
    border-radius: 2px;
    padding: 2px;
}

    .error::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #BDBDBD;
    }

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #BDBDBD;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #BDBDBD;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #BDBDBD;
}

.error-container {
    border: 1px solid #d66f5c;
    background-color: #d66f5c;
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    height: auto;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 17px;
    font-weight: 500;
}

.featured-properties-lg {
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 350px;
    background-color: #DEDEDE;
    position: relative;
    color: #FFFFFF;
}

    .featured-properties-lg img {
        width: 100%;
        height: 350px;
    }

.featured-properties-sm {
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 175px;
    background-color: #DEDEDE;
    position: relative;
    color: #000000;
    text-align: center;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

    .featured-properties-sm img {
        width: 100%;
        height: 175px;
    }

.fixed {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FCFCFC;
}

.fixed-search {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    background-color: #FAFAFA;
    border-bottom: 1px solid #FAFAFA;
    padding: 10px;
}

.flPropertyPics {
    margin-right: 50px;
    margin-bottom: 10px;
}

.flPropertyPics-btn-file {
    position: relative;
    overflow: hidden;
}

    .flPropertyPics-btn-file input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100%;
        min-width: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.flPropertyPicsImageOutput img {
    width: auto;
    height: 100px;
}

.float-right {
    position: relative;
    float: right;
}

.footer {
    position: relative;
    bottom: 0px;
    height: 140px;
    width: 100%;
    clear: both;
    background-color: #AD0051;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
}

    .footer a {
        color: #FFFFFF;
    }

    .footer table {
        width: 100%;
    }

    .footer td {
        width: 50%;
    }


#header {
    /*background-color: #5c6bb3;*/
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
}

.glyph-aside-links {
    font-size: 10px;
    float: right;
    color: #4A7573;
}

.glyphicon-color {
    color: #499407;
}

.group-form-fields {
}

#home-img {
    height: auto;
    width: 100%;
}

.home-property-category {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

    .home-property-category .left {
        position: absolute;
        right: auto;
        left: 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        opacity: 0.8;
        width: 20px;
    }

    .home-property-category .right {
        position: absolute;
        right: 0;
        left: auto;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        opacity: 0.8;
        width: 20px;
    }

    .home-property-category .left:hover {
        background-color: #E0E0E0;
        opacity: 0.5;
    }

    .home-property-category .right:hover {
        background-color: #E0E0E0;
        opacity: 0.5;
    }

.horizontal-separator {
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #C1CED1;
}

.jumbotron-container {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #6B6B6B;
}

    .jumbotron-container select option {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;
        color: #6B6B6B;
    }

button.jumbotron-button {
    background-color: #499407;
}

.jumbotron-color-radius {
    border: 1px solid #2D57A1;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #0B3FA1), color-stop(0.53, #2D57A1) );
    background-image: -o-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -moz-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -webkit-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -ms-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: linear-gradient(to bottom, #0B3FA1 0%, #2D57A1 53%);
    color: #FFFFFF;
}


.ad {
    border: 0;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #0B3FA1), color-stop(0.53, #2D57A1) );
    background-image: -o-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -moz-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -webkit-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -ms-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: linear-gradient(to bottom, #0B3FA1 0%, #2D57A1 53%);
    color: #FFFFFF;
    height: 180px;
}

.to-left {
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    padding-left: 4px;
    color: #4A7573;
}

.to-right {
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    padding-left: 4px;
    color: #4A7573;
}

.home-property-category .left a {
    position: absolute;
    display: block;
    height: inherit;
    top: 100px;
    color: #d63e76;
}

.home-property-category .right a {
    position: absolute;
    display: block;
    height: inherit;
    top: 100px;
    color: #d63e76;
}

.home-property-category-container {
    position: relative;
    border: 2px solid #F4F4F2;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}

#housing-container {
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
}

#management-add-prop-container {
    margin-top: 2px;
    width: 100%;
}

.management-action {
    display: block;
    background-color: #f7f7f7;
    padding-top: 15px;
    padding-left: 20px;
}

    .management-action > a {
        padding-right: 5px;
    }

    .management-action a {
        text-decoration: none;
        color: #333333;
    }

.management-action-container {
    display: block;
    padding: 0px;
    width: 100%;
    height: 500px;
    border: 1.8px solid #F5F6FA;
}

.management-action-content-holder {
    height: inherit;
    position: relative;
}

.management-action-content {
    height: inherit;
    display: flex;
}

.management-action-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

.management-action-aside {
    position: relative;
    background-color: #F5F6FA;
    border: 1px solid #F5F6FA;
    width: 30%;
    height: inherit;
}

.management-action-section {
    position: relative;
    background-color: #FFFFFF;
    width: 70%;
    height: inherit;
}

.meeting-request-container {
    display: block;
    width: auto;
    height: inherit;
    overflow: auto;
    padding: 10px;
    background-color: #FFFFFF;
}

.req {
    width: 100%;
}

.msg-box-container {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
}

.msg-container {
    display: block;
    width: auto;
    padding: 10px;
    height: inherit;
    padding-bottom: 30px;
    overflow: auto;
}

.management-action-section .msg-container {
    display: block;
    width: auto;
    padding: 10px;
    height: inherit;
    padding-bottom: 30px;
    line-height: 33px;
    overflow: auto;
}

    .management-action-section .msg-container .user {
        display: block;
        position: relative;
        left: 78%;
        margin-bottom: 15px;
        width: 150px;
        word-wrap: break-word;
    }

    .management-action-section .msg-container .not-user {
        display: block;
        position: relative;
        left: 0;
        margin-bottom: 15px;
        width: 150px;
        word-wrap: break-word;
    }

.not-user .single-msg-menu {
    cursor: pointer;
    display: block;
    position: absolute;
    padding-left: 9px;
    width: 80px;
    height: 30px;
    background-color: #AD0051;
    box-shadow: 3px 3px 4px #888888;
    color: #FFFFFF;
    left: 120px;
    top: -10px;
    z-index: 1;
    border-radius: 20px;
}

.user .single-msg-menu {
    cursor: pointer;
    display: block;
    position: absolute;
    padding-left: 9px;
    width: 80px;
    height: 30px;
    background-color: #AD0051;
    box-shadow: 3px 3px 4px #888888;
    color: #FFFFFF;
    right: 130px;
    top: -25px;
    z-index: 1;
    border-radius: 20px;
}

.delete-msg-bar {
    cursor: pointer;
    display: block;
    padding-left: 9px;
    padding-top: 5px;
    height: 30px;
    background-color: #AD0051;
    color: #FFFFFF;
}

/* Set width on the form input elements since they're 100% wide by default */
select {
    max-width: 280px;
    width: 40px;
    height: 20px;
}

.img-circle {
    line-height: 1.33;
    background-color: #EBEBEB;
}

.active .img-circle {
    color: #FFFFFF;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #007bff), color-stop(1, #007bff) );
    background-image: -o-linear-gradient(bottom, #007bff 0%, #007bff 100%);
    background-image: -moz-linear-gradient(bottom, #007bff 0%, #007bff 100%);
    background-image: -webkit-linear-gradient(bottom, #007bff 0%, #007bff 100%);
    background-image: linear-gradient(to bottom, #007bff 0%, #007bff 100%);
}

.action:hover .img-circle {
    color: #FFFFFF;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #007bff), color-stop(1, #007bff) );
    background-image: -o-linear-gradient(bottom, #007bff 0%, #007bff 100%);
    background-image: -moz-linear-gradient(bottom, #007bff 0%, #007bff 100%);
    background-image: -webkit-linear-gradient(bottom, #007bff 0%, #007bff 100%);
    background-image: linear-gradient(to bottom, #007bff 0%, #007bff 100%);
}

.hide {
    display: none;
}

.show {
    display: normal;
}


.img-circle-sm {
    padding: 8px 12.5px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    color: #FAFAFA;
    background-color: #6B6B6B;
}

.img-circle-md {
    padding: 20px 24px;
    width: 90px;
    height: 90px;
    font-size: 40px;
    border-radius: 45px;
    color: #6B6B6B;
}

.image-container {
    display: flex;
    padding: 6px;
    width: auto;
    height: auto;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
}

    .image-container:hover {
        box-shadow: 1px 1px 1px #C1C1C1;
    }

.image-selected-container {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    border: 1.6px solid #F5F5F5;
}

.image-selected-description {
    border-radius: 3px;
    border: 1.2px solid #F5F5F5;
    width: 100%;
    height: auto;
}

.image-selected-details {
    position: relative;
    float: left;
    width: 45%;
    height: auto;
    margin-right: 30px;
}

    .image-selected-details ul {
        list-style: none;
        padding: 0;
        padding-bottom: 10px;
    }

        .image-selected-details ul li {
            padding-bottom: 10px;
        }

.image-link {
    width: 100%;
    height: 250px;
}

    .image-link img {
        width: 100%;
        height: 250px;
    }

    .image-link:hover .property-ratings .empty {
        color: #AD0051;
    }

.image-link-banner {
    position:absolute;  
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    background-color: #007bff; 
    color:#FFFFFF;
    width:auto;
    opacity:0.9;
} 

.image-information-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    border-radius: 3px;
    width: 90%;
    height: 250px;
    padding: 0;
    cursor: default;
}

    .image-information-container .image-information {
        display: flex;
        height: 80%;
    }

        .image-information-container .image-information > .image-information-content {
            width: 90%;
            border-right: 1px solid #C1C1C1;
        }

.image-information-content .property-type-banner {
    height: 20%;
    border-bottom: 1px solid #C1C1C1;
    box-shadow: 1px 1px 1px #C1CED1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.property-type-banner a.save-property {
    cursor: pointer;
    margin-right: 30px;
    color: #AD0051;
}

    .property-type-banner a.save-property:hover {
        color: #007bff;
    }

.property-type-banner.saved a {
    color: #007bff;
}

.date-added {
    line-height: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    color: #6B6B6B;
    margin-top: 5px;
    margin-left: 10px;
}

.image-information-content .property-address {
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    color: #6B6B6B;
    margin-left: 10px;
    margin-top: 10px;
}

.image-information-content .property-desc {
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #6B6B6B;
    margin-left: 10px;
    margin-top: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 300px;
}

.image-information-content .property-owner-contact {
    line-height: 20px;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

    .image-information-content .property-owner-contact > span {
        color: #FFFFFF;
        background-color: #007bff;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #007bff;
    }

.image-information-container .view-property-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 10%;
    background-color: #AD0051;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
}

.secondary-info-container {
    position: relative;
    display: flex;
    width: auto;
    text-align: center;
}

.tertiary-info-container {
    background-color: #007bff;
    width: 100%;
    height: auto;
    padding: 10px;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.secondary-info-container > div {
    display: inline-block;
    width: 33.33%;
    height: 50px;
    border-right: 1px solid #C1C1C1;
    box-shadow: 1px 1px 1px #C1CED1;
    line-height: 50px;
    vertical-align: middle;
    word-wrap: break-word;
}

    .secondary-info-container > div:last-child {
        border-right: none;
    }

@media screen and (max-width:992px) {
    .image-container {
        display: block;
    }

    .image-information-container {
        width: 100%;
    }
}

.profile-container {
    cursor: default;
}

.property-ratings-container {
    margin-left: 10px;
    margin-top: 10px;
}

property-ratings {
    display: flex;
}

.property-ratings > div.ratings {
    float: left;
    margin-right: 10%;
    color: #AD0051;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.property-ratings .empty {
    color: #F4F4F2;
}

textarea.input-validation-error, input[type="number"].input-validation-error, input[type="password"].input-validation-error, input[type="text"].input-validation-error, select.input-validation {
    border: 1px solid #ff0000 !important;
}

label {
    font-weight: 300;
}

.legend-headers {
    font-family: 'Open Sans' sans-serif;
    font-size: 15px;
    padding: 6px;
}

#loading-gif img {
    height: 35px;
    width: 35px;
}

.logo {
    color: #AD0051;
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

    .logo:hover {
        color: #AD0051;
        border-bottom: none;
        text-decoration: none;
    }

.navbar-nav .ml-auto {
    position: relative;
}


.navbar-nav > div {
    margin-right: 30px;
}

@media screen and (max-width:992px) {
    .navbar-nav > div {
        margin-top: 15px;
    }
}

.navbar-nav > div a {
    padding: 5px;
    text-decoration: none;
    color: #524F52;
    line-height: 30px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

    .navbar-nav > div a:hover {
        color: #AD0051;
        border-bottom: 2px solid #AD0051;
    }

.sign-inout {
    display: flex;
    float: right;
}

    .sign-inout > div {
        margin-left: 12px;
    }

.main-menu {
    width: 100%;
}

    .main-menu .active {
        color: #AD0051;
        border-bottom: 2px solid #AD0051;
    }

    .main-menu ul.sign-register li a:hover {
        color: #007bff;
    }

.sign-register img {
    height: 28px;
    width: auto;
}

.modal-dialog {
    width: 98%;
    height: 92%;
    padding: 0;
}

.modal-content {
    height: auto;
}

.modal-header {
    background-color: #AD0051;
}

#modal-loading {
    background-color: #000000;
    height: 2200px;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: 3;
    display: none;
}

.modal-rooms {
    display: inline-block;
}

    .modal-rooms img {
        width: 100px;
        height: 100px;
        background-color: dimgray;
        border-radius: 3px;
    }

.new-row {
    padding-bottom: 60px;
}

#page-container {
    overflow: auto;
    padding-bottom: 70px;
    min-height: 100%;
    font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*
.popover {
    background-color: #499407;
    border-color: #499407;
}

.popover-content {
    color: #FFFFFF;
    background-color: #499407;
}

.popover.right > .arrow:after {
    border-right-color: #499407;
}
*/

.prop-upload-info {
    padding: 10px 15px;
}

.properties-load {
    padding-bottom: 100px;
}

.properties-result-container {
    background-color: #FFFFFF;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding: 15px;
    padding-bottom: 25px;
    width: 100%;
    height: 50px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.properties-table-style {
    border: 1px solid #F0F0F0;
}

    .properties-table-style th {
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 5px;
        background-color: #4A7573;
        color: #FFFFFF;
    }

    .properties-table-style td {
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        padding: 10px 5px;
        font-weight: 500;
    }

    .properties-table-style tr:nth-child(odd) {
        /* background-color: #EBEBEB;*/
    }

.popover {
    z-index: 500000; /* A value higher than 1010 that solves the problem */
}

.registration-form td {
    padding-right: 15px;
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#management-prop-images-container {
    display: inline-flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.management-prop-images {
    width: 171px;
    border: 1px solid #C1CED1;
    box-shadow: 1px 1px 1px #C1CED1;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

    .management-prop-images a {
        text-decoration: none;
        color: #6B6B6B;
    }

        .management-prop-images a:hover {
            color: #FFFFFF;
        }

    .management-prop-images:hover {
        background-color: #AD0051;
    }

#management-prop-images-container img {
    width: 170px;
    height: 170px;
}

.management-prop-title {
    padding: 5px;
}

#rooms-content {
    background-color: #FFFFFF;
    width: 100%;
    min-height: 1185px;
    padding: 10px;
    padding-top: 20px;
}

#room-properties td {
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

select.sort-select-style {
    max-width: 100%;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #F0F0F0;
}

.social-icons {
    display: flex;
}

    .social-icons > div {
        margin-left: 10px;
    }

        .social-icons > div:first-child {
            margin-left: 0;
        }

    .social-icons img {
        height: 25px;
        width: auto;
    }

.shopping-cart-container {
    background-color: #f7f7f7;
    padding: 10px;
}
/*
input[type="text"], input[type="password"], input[type="number"], select {
    width: 145px;
    border-radius: 1px;
    border: 2px solid #F0F0F0;
}*/
input[type="text"].search-box {
    width: 250px;
}



input[type="button"].sort-btn-style {
    width: 80px;
    height: 26px;
    background-color: #1D7D93;
    color: #FFFFFF;
    font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2px;
    border: 1px solid #F0F0F0;
}

span.glyph-style {
    padding-right: 10px;
    color: #259DC1;
}

.search-filter-cntr {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:992px) {
    .search-filter-cntr > div {
        margin-bottom: 10px;
    }
}

.search-filter-cntr > div {
    margin-right: 20px;
}

a.search-filter {
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    width: auto;
    font-size: 13px;
    color: #555555;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    text-decoration: none;
}

    a.search-filter:hover {
        background-color: #EEEEEE;
    }

    a.search-filter.active {
        background-color: #EEEEEE;
    }

.search-filter-popdown {
    position: absolute;
    top: 50px;
    height: auto;
    width: auto;
    font-size: 13px;
    color: #555555;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    border-top-left-radius: 0px;
    z-index: 10;
    padding: 6px 12px;
}

.search-filter-popdown-content {
    padding: 6px 12px;
    width: 100%;
    height: auto;
    line-height: 30px;
}

.search-filter-popdown .clear-border {
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 1px;
    border: 0.5px solid #FFFFFF;
    top: -1px;
    left: 0px;
}
/*
.remove-filter-container {
    visibility:hidden;
}*/

a.remove-filter {
    cursor: pointer;
}

.remove-filter-container:hover {
    color: #AD0051;
}

.rTable {
    display: table;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.rTableRow {
    display: table-row;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}

.rTableHead {
    border: 1px solid #F4F4F2;
}

.rTableCell .reqMsg {
    width: 100%;
}

.rTableCell {
    border-bottom: 1px solid #F4F4F2;
    margin-bottom: 3px;
}

.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
}

.display-block {
    display: block;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}

.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}

.rTableBody {
    display: table-row-group;
}

.search-filter-parish, .search-filter-property-type, .search-filter-property-purpose, .search-filter-property-price-range, .search-filter-property-adtype {
    display: none;
}

.search-cntr {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/*Slider for filter properties by distance*/
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #007bff;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #007bff;
        cursor: pointer;
    }

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #F0F0F0;
}

.temp-alert {
    margin-bottom: 10px;
}

#top-header {
    border-bottom: 1px solid #1654C7;
    background-color: #AD0051;
    width: 100%;
    height: 3px;
}

    #top-header a {
        color: #FFFFFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }

.tooltip-container {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    position: relative;
    background-color: #C1CED1;
    border: 1px solid #C1CED1;
    border-radius: 5px;
}


textarea {
    border-radius: 1px;
    border: 1px solid #F0F0F0;
}

    textarea.txt-area-desc {
        width: 100%;
    }

.ui-accordion-header {
    background: black;
}


.upd-property-images-ctnr img {
    width: 200px;
    height: 100px;
    border: 1px solid #FEFEFE;
}
