
@import url(http://fonts.googleapis.com/css?family=Raleway);

.ad-rules-container {
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 4px;
    height: 130px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #F4F4F2;
}

#ad-placement {
    padding: 1px;
    height: 20px;
}

.arrow-top {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: -30px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #509911;
}

.aside-header {
    color: #313233;
    font-family: 'Open Sans' sans-serif;
    font-size: 14px;
    padding-bottom: 6px;
}

.aside-property {
    list-style: none;
    padding: 0px;
    padding-left: 1px;
    padding: 10px;
    background-color: #4A7573;
}

    .aside-property li {
        padding-bottom: 5px;
    }

        .aside-property li a {
            display: block;
            text-decoration: none;
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 5px;
            padding-top: 5px;
            color: #FFFFFF;
            font-size: 13px;
            font-family: 'Open Sans', sans-serif;
        }

    .aside-property a.active {
        display: block;
        border-top: 3.8px outset #4A7573;
        color: #4A7573;
    }

    .aside-property li a:hover {
        display: block;
        border-top: 3.8px outset #4A7573;
        color: #4A7573;
    }

html, body {
    height: 100%;
    z-index: 0;
    color: #524F52;
}

#body {
    padding-bottom: 50px;
}

#body-content {
    background-color: #FFFFFF;
}

.btn-accent {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #D90DB4), color-stop(1, #D90DB4) );
    background-image: -o-linear-gradient(bottom, #D90DB4 0%, #D90DB4 100%);
    background-image: -moz-linear-gradient(bottom, #D90DB4 0%, #D90DB4 100%);
    background-image: -webkit-linear-gradient(bottom, #D90DB4 0%, #D90DB4 100%);
    background-image: linear-gradient(to bottom, #D90DB4 0%, #D90DB4 100%);
    color: #FFFFFF;
}

    .btn-accent:hover {
        background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A8058D), color-stop(1, #A8058D) );
        background-image: -o-linear-gradient(bottom, #A8058D 0%, #A8058D 100%);
        background-image: -moz-linear-gradient(bottom, #A8058D 0%, #A8058D 100%);
        background-image: -webkit-linear-gradient(bottom, #A8058D 0%, #A8058D 100%);
        background-image: linear-gradient(to bottom, #A8058D 0%, #A8058D 100%);
        color: #FFFFFF;
    }

.btn-search {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #499407), color-stop(1, #499407) );
    background-image: -o-linear-gradient(bottom, #499407 0%, #499407 100%);
    background-image: -moz-linear-gradient(bottom, #499407 0%, #499407 100%);
    background-image: -webkit-linear-gradient(bottom, #499407 0%, #499407 100%);
    background-image: linear-gradient(to bottom, #499407 0%, #499407 100%);
    color: #FFFFFF;
}

    .btn-search:hover {
        background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #509911), color-stop(1, #509911) );
        background-image: -o-linear-gradient(bottom, #509911 0%, #509911 100%);
        background-image: -moz-linear-gradient(bottom, #509911 0%, #509911 100%);
        background-image: -webkit-linear-gradient(bottom, #509911 0%, #509911 100%);
        background-image: linear-gradient(to bottom, #509911 0%, #509911 100%);
        color: #FFFFFF;
    }

/* Declare heights because of positioning of img element 
.carousel .item {
    min-height: 400px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #777;
}
    */
.cart-headings {
    color: #D90DB4;
}

.chevron-border {
    position: absolute;
    left: 0;
    right: auto;
    border: 1px solid black;
    background-color: black;
    opacity: 0.9;
    z-index: 2;
    width: 10px;
    height: 10px;
}

.contact-info-container ul {
    list-style: none;
    padding: 0;
}

    .contact-info-container ul li {
        list-style: none;
        padding: 0;
        padding-bottom: 10px;
    }

.contact-info-container {
    border: 1.6px solid #F5F5F5;
    position: relative;
    float: left;
    width: 48%;
    height: auto;
}

.contact-info-header {
    padding: 10px;
    background-color: #F5F5F5;
    width: auto;
    height: auto;
}

.contact-info-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #6B6B6B;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    word-spacing: 2px;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.content-heading {
    color: #499407;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.clickable-box {
    width: 100%;
    text-align: center;
    padding: 5px;
    border: 1px solid #C1CED1;
    color: #524F52;
    border-radius: 2px;
}

.clickable-box-active {
    background-color: #D90DB4;
    border: 2px solid #D90DB4;
    color: #FFFFFF;
}

.clickable-box:hover {
    background-color: #D90DB4;
    border: 2px solid #D90DB4;
    color: #FFFFFF;
}

a.clickable-box-link {
    text-decoration: none;
}

.ctnr {
    padding: 10px;
    border-radius: 2px;
    background-color: #FFFFFF;
}


.ctnr-aside {
    border-bottom: 1.5px solid #D90DB4;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    line-height: 18px;
    padding: 5px;
    width: 100%;
}

.ctnr-headers {
    padding: 5px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 25px;
    font-weight: 600;
    color: #1654C7;
    line-height: 20px;
    margin-bottom: 20px;
}

.ctnr-info {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    font-weight: 500;
    color: #6B6B6B;
}

.ctnr-options {
    list-style: none;
    padding: 0;
}

    .ctnr-options li {
        display: inline-block;
    }

.col-width-4.col-xs-1 {
    width: 4%;
}

.dashboard {
    z-index: 0;
}

.dashboard-info-headers {
    display: block;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}


#dashboard-messages {
    
}

#dashboard-messages ul.msg-list li {
    float: left;
}
    .dashboard-info ul {
        list-style: none;
        padding: 0px;
    }

    .dashboard-info li {
        border: 1px solid #EAE5E5;
    }

        .dashboard-info li.msg {
            display: block;
            text-decoration: none;
            font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
            font-size: 14px;
            font-weight: 500;
            padding-bottom: 1px;
        }

    .dashboard-info .msg a {
        display: block;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 1px;
        border-radius: 2px; 
    }

        .dashboard-info .msg a:hover {
            background-color: #2D57A1;
            color: #FFFFFF;
        }

        .dashboard-info .msg a.active {
            background-color: #2D57A1;
            color: #FFFFFF;
        }

.dashboard-info::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.dashboard-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
.dashboard-info::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #EBEBEB; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.dashboard-info::-webkit-scrollbar-thumb:window-inactive {
	background:  #EBEBEB; 
}

.not-seen {
    background-color: #2D57A1;  
    color:#FFFFFF;
}

.seen {
    border-bottom: 1px solid #499407;
    background-color: #FAFAFA;
    color:#74757D;
}

.txt {
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
}

.fullTxt {
    width: 100%;
    display: block;
    margin-top: 10px;
}

.txt-btns-container {
    padding: 5px;
    background-color: #509911;
    color: #FFFFFF;
}

.error {
    border: 1px solid #d66f5c;
    background-color: #d66f5c;
    padding: 10px;
    border-radius: 2px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #FFFFFF;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #FFFFFF;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #FFFFFF;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #FFFFFF;
}

.error-container {
    border: 1px solid #d66f5c;
    background-color: #d66f5c;
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    height: auto;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 17px;
    font-weight: 500;
}

.featured-properties-lg {
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 350px;
    background-color: #DEDEDE;
    position: relative;
    color: #FFFFFF;
}

    .featured-properties-lg img {
        width: 100%;
        height: 350px;
    }

.featured-properties-sm {
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 175px;
    background-color: #DEDEDE;
    position: relative;
    color: #000000;
    text-align: center;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

    .featured-properties-sm img {
        width: 100%;
        height: 175px;
    }

.fixed {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FCFCFC;
}

.fixed-search {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    background-color: #F5F5F5;
}

.flPropertyPics {
    margin-right: 50px;
    margin-bottom: 10px;
}

.flPropertyPics-btn-file {
    position: relative;
    overflow: hidden;
}

    .flPropertyPics-btn-file input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100%;
        min-width: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.flPropertyPicsImageOutput img {
    width: 200px;
    height: 200px;
}

.float-right {
    position: relative;
    float: right;
}

.footer {
    position: relative;
    bottom: 0;
    height: 140px;
    width: 100%;
    clear: both;
    margin-top: -70px;
    background-color: #1654C7;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
}

    .footer a {
        color: #FFFFFF;
    }

    .footer table {
        width: 100%;
    }

    .footer td {
        width: 50%;
    }

.glyphicon-chevrons {
}

#header {
    /*background-color: #5c6bb3;*/
    border-bottom: 1px solid #DEDEDE;
}


.glyph-aside-links {
    font-size: 10px;
    float: right;
    color: #4A7573;
}

.glyphicon-color {
    color: #499407;
}

.group-form-fields {
}

#home-img {
    height: auto;
    width: 100%;
}

.home-property-category {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

    .home-property-category .left {
        position: absolute;
        right: auto;
        left: 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        opacity: 0.8;
        width: 20px;
    }

    .home-property-category .right {
        position: absolute;
        right: 0;
        left: auto;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        opacity: 0.8;
        width: 20px;
    }

    .home-property-category .left:hover {
        background-color: #E0E0E0;
        opacity: 0.5;
    }

    .home-property-category .right:hover {
        background-color: #E0E0E0;
        opacity: 0.5;
    }

.horizontal-separator {
}

.jumbotron-container {
    padding: 10px;
    border: 1px solid #C8C8C3;
    position: relative;
    background-color: #FAFAFA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: #6B6B6B;
    display: none;
}

    .jumbotron-container select option {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;
        color: #6B6B6B;
    }

button.jumbotron-button {
    background-color: #499407;
}

.jumbotron-color-radius {
    border: 1px solid #2D57A1;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #0B3FA1), color-stop(0.53, #2D57A1) );
    background-image: -o-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -moz-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -webkit-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -ms-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: linear-gradient(to bottom, #0B3FA1 0%, #2D57A1 53%);
    color: #FFFFFF;
}


.ad {
    border: 0;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #0B3FA1), color-stop(0.53, #2D57A1) );
    background-image: -o-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -moz-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -webkit-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: -ms-linear-gradient(bottom, #0B3FA1 0%, #2D57A1 53%);
    background-image: linear-gradient(to bottom, #0B3FA1 0%, #2D57A1 53%);
    color: #FFFFFF;
    height: 180px;
}

.to-left {
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    padding-left: 4px;
    color: #4A7573;
}

.to-right {
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100%;
    padding-left: 4px;
    color: #4A7573;
}

.home-property-category .left a {
    position: absolute;
    display: block;
    height: inherit;
    top: 100px;
    color: #d63e76;
}

.home-property-category .right a {
    position: absolute;
    display: block;
    height: inherit;
    top: 100px;
    color: #d63e76;
}

.home-property-category-container {
    position: relative;
    border: 2px solid #F4F4F2;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}

#housing-container {
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
}

#housing-container-options-container {
    margin-top: 2px;
    width: 100%;
}

#housing-container-options {
    width: 100%;
}

    #housing-container-options ul {
        list-style: none;
        padding-left: 0px;
    }

    #housing-container-options li {
        border-bottom: 3px solid #EAE5E5;
        border-right: 1px solid #EAE5E5;
        border-left: 1px solid #EAE5E5;
    }

        #housing-container-options li a {
            display: block;
            padding-left: 20px;
            padding-bottom: 9px;
            padding-top: 9px;
            text-decoration: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 13px;
            color: #1D7D93;
        }

            #housing-container-options li a:hover {
                background-color: #1D7D93;
                color: #FFFFFF;
            }

.management-action a {
    text-decoration: none;
    color: #333333;
}

.management-action-container {
    display: block;
    padding:0px;
    width: 100%;
    height: 400px;
    border: 1.8px solid #F5F6FA;
}

.management-action-content-holder {
    height: 395px;
    position:relative;
}

.management-action-content {
    height: 395px;
    display: flex;
}

.management-action-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 15px;
}

.management-action-aside {
    position:relative;
    background-color: #F5F6FA;
    border:1px solid #F5F6FA;
    width:30%;
    height:inherit;
}

.management-action-section {
    position:relative;
    background-color:#FFFFFF;
    width:70%;
    height:inherit;
}

.msg-box-container {
    width:100%;
    display:flex;
    position:absolute;
    bottom:0;
}

.msg-container {
    display:block;
    width:auto;
    padding:10px;
    height:inherit;
    padding-bottom:30px;
    overflow:auto;
}

.management-action-section .msg-container {
    display:block;
    width:auto;
    padding:10px;
    height:inherit;
    padding-bottom:30px;
    line-height:33px;
    overflow:auto;
}

.management-action-section .msg-container .user{
    display:block;
    position:relative;
    left:78%;
    margin-bottom:15px;
    width:150px;
    word-wrap:break-word;
}

.management-action-section .msg-container .not-user{
    display:block;
    position:relative;
    left:0;
    margin-bottom:15px;
    width:150px;
    word-wrap:break-word;
}

/* Set width on the form input elements since they're 100% wide by default */
select {
    max-width: 280px;
    width: 40px;
    height: 20px;
}

.image-container {
    width: auto;
    height: auto;
}

ul.property-ratings {
    list-style: none;
    padding: 0;
}

.property-ratings li {
    float: left;
    padding-right: 10px;
    color: #D90DB4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.property-ratings .empty {
    color: #F4F4F2;
}

.property-ratings li img {
    height: 20px;
    width: auto;
}

.img-circle {
    line-height: 1.33;
    background-color: #EBEBEB;
}

.active .img-circle{
    color:#FFFFFF;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #509911), color-stop(1, #509911) );
    background-image: -o-linear-gradient(bottom, #509911 0%, #509911 100%);
    background-image: -moz-linear-gradient(bottom, #509911 0%, #509911 100%);
    background-image: -webkit-linear-gradient(bottom, #509911 0%, #509911 100%);
    background-image: linear-gradient(to bottom, #509911 0%, #509911 100%);
}

.action:hover .img-circle {
    color:#FFFFFF;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #509911), color-stop(1, #509911) );
    background-image: -o-linear-gradient(bottom, #509911 0%, #509911 100%);
    background-image: -moz-linear-gradient(bottom, #509911 0%, #509911 100%);
    background-image: -webkit-linear-gradient(bottom, #509911 0%, #509911 100%);
    background-image: linear-gradient(to bottom, #509911 0%, #509911 100%);
}

.img-circle-sm {
    padding: 5px 13px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    color: #FAFAFA;
    background-color: #6B6B6B;
}

.img-circle-md {
    padding: 15px 25px;
    width: 90px;
    height: 90px;
    font-size: 40px;
    border-radius: 45px;
    color: #6B6B6B;
}

.image-link:hover .property-ratings li {
    color: #FFFFFF;
}

.image-link:hover .property-ratings .empty {
    color: #A8058D;
}

.image-link ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.image-information-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    word-wrap: break-word;
    line-height: 15px;
    width: 200px;
    margin-top: 15px;
}

.image-selected-container {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    border: 1.6px solid #F5F5F5;
}

.image-selected-description {
    border-radius: 3px;
    border: 1.2px solid #F5F5F5;
    width: 100%;
    height: auto;
}

.image-selected-details {
    position: relative;
    float: left;
    width: 45%;
    height: auto;
    margin-right: 30px;
}

    .image-selected-details ul {
        list-style: none;
        padding: 0;
        padding-bottom: 10px;
    }

        .image-selected-details ul li {
            padding-bottom: 10px;
        }

.image-link {
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 29px;
    width: auto;
    height: auto;
    border: 1.6px solid #F5F5F5;
}

    .image-link a {
        color: #6B6B6B;
    }


    .image-link:hover a, .image-link:hover {
        background-color: #D90DB4;
        color: #FFFFFF;
        text-decoration: none;
    }

    .image-link img {
        width: 200px;
        height: 150px;
        border-radius: 3px;
    }

textarea.input-validation-error, input[type="number"].input-validation-error, input[type="password"].input-validation-error, input[type="text"].input-validation-error, select.input-validation {
    border: 1px solid #ff0000 !important;
}

label {
    font-weight: 300;
}

.legend-headers {
    font-family: 'Open Sans' sans-serif;
    font-size: 15px;
    padding: 6px;
}

#loading-gif img {
    height: 35px;
    width: 35px;
}

.logo a {
    color: #E44424;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
}

.logo img {
    width: 170px;
    height: auto;
}

.main-menu ul {
    list-style: none;
    position: relative;
    padding-left: 0px;
}
    /*hiding submenus
.main-menu ul ul {
display: none;
position: absolute; 
padding-top: 10px;
}*/

    .main-menu ul li {
        float: left;
        margin-right: 5px;
    }

    .main-menu ul a {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 25px;
        padding-left: 25px;
        text-decoration: none;
        color: #524F52;
        font-size: 13px;
        line-height: 45px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .main-menu ul li:first-child a {
    }

    .main-menu ul li a:hover {
        color: #D90DB4;
        border-bottom: 2px solid #D90DB4;
    }

.main-menu .active {
    color: #D90DB4;
    border-bottom: 2px solid #D90DB4;
}

/*allow sublist to reappear
.main-menu ul li:hover > ul {
position:absolute;
top:30px;
display: block;
z-index:1;
}

.main-menu ul li:hover > ul li{
border-bottom: 1px groove #FFFFFF;
background-color: grey;
opacity:0.9;
display: block;
}

.main-menu ul li:hover > ul li:last-child{
border-bottom: 0px solid;
}

.main-menu ul li:hover > ul li a{
display: inline-block;
font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 13px;
text-decoration: none;
color: #FFFFFF;
padding-left: 25px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 69px;
border: 0px solid;
display: block;
}

.main-menu ul li:hover > ul li:hover{
background-color: #422880;
color:white;
}*/

.modal-content {
    background-color: #1654C7;
    color: #FFFFFF;
}


.modal-dialog {
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.modal-header {
    border: 0px;
    background-color: #499407;
}

#modal-loading {
    background-color: #000000;
    height: 2200px;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    display: none;
}

.modal-rooms {
    display: inline-block;
}

    .modal-rooms img {
        width: 100px;
        height: 100px;
        background-color: dimgray;
        border-radius: 3px;
    }

.new-row {
    padding-bottom: 60px;
}

#page-container {
    overflow: auto;
    padding-bottom: 70px;
    min-height: 100%;
    font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popover {
    background-color: #499407;
    border-color: #499407;
}

.popover-content {
    color: #FFFFFF;
    background-color: #499407;
}

.popover.right > .arrow:after {
    border-right-color: #499407;
}

.properties-load {
    padding-bottom: 100px;
}

.prop-upload-advertisement-info {
}

.prop-upload-info-top {
    border-bottom: 1px solid #C1CED1;
    padding-bottom: 40px;
}

.prop-upload-info-bottom {
    padding-top: 40px;
}

.properties-result-container {
    background-color: #FFFFFF;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding: 15px;
    padding-bottom: 25px;
    width: 100%;
    height: 50px;
    opacity: 0.8;
    margin-bottom: 10px;
}
/*
.properties-view-all-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    padding: 15px;
    padding-bottom: 25px;
    width: 100%;
    height: 50px;
    opacity: 0.8;
    padding-left: 0px;
    padding-right: 0px;
}*/

.properties-view-all-container a {
}

.properties-table-style {
    border: 1px solid #F0F0F0;
}

    .properties-table-style th {
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 5px;
        background-color: #4A7573;
        color: #FFFFFF;
    }

    .properties-table-style td {
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        padding: 10px 5px;
        font-weight: 500;
    }

    .properties-table-style tr:nth-child(odd) {
        background-color: #EBEBEB;
    }

.quick-action-header {
    width: 100%;
    height: 40px;
    background-color: #2B2B2B;
    color: #FFFFFF;
    border-bottom: 2px groove #FFFFFF;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#quick-action ul {
    z-index: 1;
    list-style: none;
    padding-left: 0px;
}

    #quick-action ul li {
        border-bottom: 1px groove #FFFFFF;
        background-color: #2B2B2B;
    }

        #quick-action ul li a {
            display: inline-block;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            text-decoration: none;
            color: #FFFFFF;
            padding-left: 25px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 45px;
        }

        #quick-action ul li:hover {
            background-color: #1D7D93;
        }

    /*hiding submenus*/
    #quick-action ul ul {
        display: none;
        position: absolute; /*ensure that the submenus does not push content down*/
        left: 95%;
    }

    /*allow sublist to reappear*/
    #quick-action ul li:hover > ul {
        display: inline-block;
    }

        #quick-action ul li:hover > ul li {
            background-color: #414242;
            width: 460px;
            opacity: 0.9;
        }

            #quick-action ul li:hover > ul li:hover {
                background-color: #1D7D93;
            }

            #quick-action ul li:hover > ul li a {
                display: block;
            }

.registration-form td {
    padding-right: 15px;
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#rooms-collection {
}

    #rooms-collection img {
        width: 170px;
        height: 170px;
        border: 1px solid;
    }

#rooms-content {
    background-color: #FFFFFF;
    width: 100%;
    min-height: 1185px;
    padding: 10px;
    padding-top: 20px;
}

#room-properties td {
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

select.sort-select-style {
    max-width: 100%;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #F0F0F0;
}

.social-icons img {
    height: 25px;
    width: auto;
}

.social-icons ul {
    list-style: none;
}

.social-icons li {
    margin-top: 10px;
    padding-right: 10px;
    display: inline-block;
}
/*
input[type="text"], input[type="password"], input[type="number"], select {
    width: 145px;
    border-radius: 1px;
    border: 2px solid #F0F0F0;
}*/

input[type="text"].search-box {
    width: 250px;
}



input[type="button"].sort-btn-style {
    width: 80px;
    height: 26px;
    background-color: #1D7D93;
    color: #FFFFFF;
    font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2px;
    border: 1px solid #F0F0F0;
}

span.glyph-style {
    padding-right: 10px;
    color: #259DC1;
}

.sign-register a {
    font-size: 14px;
}

.sign-register img {
    height: 28px;
    width: auto;
}

.sign-register ul li {
    margin-top: 10px;
    padding-right: 10px;
    display: inline-block;
}

.sign-register ul {
    list-style: none;
}

.shopping-cart-container {
    width: 100%;
    height: auto;
    border: 1px solid #C1CED1;
    border-radius: 3px;
    padding: 7px 7px 7px 15px;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #F0F0F0;
}

#tblRequisitions td {
}

#tblRequisitions td, th {
    padding-left: 10px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
}

    #tblRequisitions td:before { /*force spacing into column to set default width*/
        content: '';
        display: block;
        width: 5em;
    }

#tblRequisitions tr {
    height: 40px;
}

#tblRequisitions thead {
    font-family: Arial,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    background-color: #FAFAFA;
    border-bottom: 2px solid #F4F4F2;
    border-left: 2px solid #F4F4F2;
    border-right: 2px solid #F4F4F2;
}

#top-header {
    border-bottom: 1px solid #1654C7;
    background-color: #0B40A1;
    width: 100%;
}

    #top-header a {
        color: #FFFFFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }

.tooltip-container {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    position: relative;
    background-color: #C1CED1;
    border: 1px solid #C1CED1;
    border-radius: 5px;
}


textarea {
    border-radius: 1px;
    border: 1px solid #F0F0F0;
}

    textarea.txt-area-desc {
        width: 100%;
    }
