
@{
    ViewBag.Title = "Adspace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <br />
            <div class="ctnr-headers"><label>Adspace</label></div>
            <div class="ctnr-info">
                To place an advertisment at this location send your ad to jamprops@hotmail.com
                with the subject: 'advertisment', and also your contact information. You will be contacted
                shortly after your submission.
            </div>
        </div>
    </div>
</div>