
@{
    ViewBag.Title = "PremiumFeature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageScript
{
    (function(){
    $('#home').attr('class','active');
    })();
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Premium Feature</h2>            
            There will be premium feature available for users that are advertising room accommodations.
            This feature is for landlords who are renting their property and wants to easily manage their property

            The features will include the following:
            <hr />
            <ul>
                <li>Management of Tennants</li>
                <li>Notification of Bills</li>
                <li>Management of Complaints</li>
                <li>Messaging Tennants</li>
            </ul>
            <h3>Pricing</h3>
            The cost of this feature is $3500.00 JMD anually which can be paid through PayPal, Western Union, Money Gram
            and also through the Digicel or Lime credit equivalent.

        </div>
    </div>
</div>

