
@{
    ViewBag.Title = "Recover Password - Easy Find Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageScript
{
    (function(){
    $.getScript('/Scripts/MainScript.js', function()
    {
    $('#home').attr('class','active');
    displayFadedAnnouncment();
    });
    })();
}
<style>
    .jumbotron-container {
        display: none;
    }
</style>

<a href="#" onclick="goBack();" class="badge badge-primary"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</a>
<br /><br />
<div class="ctnr-headers">Recover Password</div>
@using (Html.BeginForm("RecoverPassword", "Accounts", FormMethod.Post))
{
    if (TempData["errorMessage"] != null)
    {
        foreach (var msg in (List<String>)TempData["errorMessage"])
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="badge badge-danger">@Html.Raw(msg)</div>
                </div>
            </div>
            <br />
        }
    }
    if (TempData["success"] != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="badge badge-info">@((String)TempData["success"])</div>
            </div>
        </div>
        <br />
    }

    <div class="row">
        <div class="col-md-7">
            <label for="email">Email</label>
            <input id="email" value="" type="email" class="form-control" name="email" placeholder="Enter your email address" required />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-7">
            <button class="btn btn-primary btn-sm pull-right" type="submit">Recover my password</button>
        </div>
    </div>
}

