
@{
    ViewBag.Title = "Reset Password - Easy Find Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .jumbotron-container {
        display: none;
    }
</style>
<div class="ctnr-headers">Reset Password</div>
@if (TempData["errorMessage"] != null)
{
    foreach (var msg in (List<String>)TempData["errorMessage"])
    {
        <div class="row">
            <div class="col-md-12">
                <div class="badge badge-danger">@Html.Raw(msg)</div>
            </div>
        </div>
        <br />
    }
}
@if (Session["accessCodeValid"] == null && TempData["pwdChangedSuccess"] == null)
{
    using (Html.BeginForm("validateAccessCode", "Accounts", FormMethod.Post))
    {
        <input type="hidden" id="userId" name="userId" value="@ViewBag.userId" />
        <div class="row">
            <div class="col-md-7">
                <label for="accessCode">Access Code</label>
                <input id="accessCode" type="text" class="form-control" name="accessCode" placeholder="Access code that was sent to your email" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-7">
                <button class="btn btn-primary btn-sm pull-right" type="submit">Submit</button>
            </div>
        </div>
    }
}
else
{
    if (TempData["pwdChangedSuccess"] == null)
    {
        using (Html.BeginForm("resetPassword", "Accounts", FormMethod.Post, new { id = "resetPasswordForm" }))
        {
            <input type="hidden" id="userId" name="userId" value="@ViewBag.userId" />
            <div class="row">
                <div class="col-md-7">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" name="password" required />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-7">
                    <label for="confirmPassword">Confirm Password</label>
                    <input id="confirmPassword" type="password" class="form-control" name="confirmPassword" required />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-7">
                    <button id="resetPassword" class="btn btn-primary btn-sm pull-right" type="submit">Reset Password</button>
                </div>
            </div>
        }
    }
    else
    {
        <br/>
        <div class="row">
            <div class="col-md-12">
                <span class="badge badge-success">@( ((String)TempData["pwdChangedSuccess"]) )</span> &nbsp;
                <a href="~/accounts/signin">Sign in to your account</a>
            </div>
        </div>
    }
}
                        

