
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pageScript
{
    (function(){
    $('#home').attr('class','active');
    })();
}
@{
    if (Session["invalidUser"] != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="registration-success" class="alert-danger" style="display:none;">
                        <strong>Login Failed</strong> <span class="glyphicon glyphicon-exclamation-sign"></span>
                        <br /><em>@Session["invalidUser"]</em>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
        </div>
        Session["invalidUser"] = null; 
    }
}

<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-5">
            @using (Html.BeginForm("SignIn", "Accounts", FormMethod.Post))
            {
                <fieldset>
                    <legend><div class="ctnr-headers"><label>Sign in</label></div></legend>
                    <table class="table-condensed registration-form" width="100%">
                        <tr>
                            <td>Cell Number</td>
                            <td>@Html.TextBox("cell", "", new { @required = "true" })</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>@Html.Password("password", "", new { @required = "true" })</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" class="btn pull-right" value="Sign in"></td>
                        </tr>
                    </table>
                </fieldset>
            }
        </div>
    </div>
</div>