@model SS.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "EasyFindProperties - Find and Advertise properties within your country";
}

@section pageScript
{
    (function(){
    $.getScript('/Scripts/MainScript.js', function()
    {
    setActiveNavigation('home');
    // setJumbotrunActionBtnText('Search');
    setIsCollapsable(false);

    //initialization of bootstrap popover
    $('[data-toggle="popover"]').popover({
    trigger : 'hover click',
    container: 'body'
    });

    });

    $.getScript('/Scripts/PropertiesScript.js',function(){
        populatePropertyType();
    });
    })();

}
<div class="row">
    <div class="col-md-12">
        <div class="ctnr-headers">
            Featured Properties Being Rented
        </div>
    </div>
</div>
<div class="row" id="featured-rental">
    @Html.Partial("_FeaturedProperties", Model.FeaturedRental)
</div>
<div class="row">
    <div class="offset-8 col-md-4">
        <a href="#" class="btn btn-block btn-accent" id="btnViewAllRentalEstate">See More <span class="glyphicon glyphicon-eye-open"></span></a>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <div class="ctnr-headers">
            Featured Properties Being Sold
        </div>
    </div>
</div>
<div class="row" id="featured-sale">
    @Html.Partial("_FeaturedProperties", Model.FeaturedSale)
</div>
<div class="row">
    <div class="offset-8 col-md-4">
        <a href="#" class="btn btn-block btn-accent" id="btnViewAllRentalEstate">See More <span class="glyphicon glyphicon-eye-open"></span></a>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <div class="ctnr-headers">
            Featured Properties Being Leased
        </div>
    </div>
</div>
<div class="row" id="featured-lease">
    @Html.Partial("_FeaturedProperties", Model.FeaturedLease)
</div>
<div class="row">
    <div class="offset-8 col-md-4">
        <a href="#" class="btn btn-block btn-accent" id="btnViewAllRentalEstate">See More <span class="glyphicon glyphicon-eye-open"></span></a>
    </div>
</div>