
@{
    ViewBag.Title = "JProps - About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .jumbotron-container {
        display:none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="ctnr-headers"><label>About Us</label></div>
        <div class="ctnr-info">
            JProps was designed for Jamaicans who are seeking to rent, buy or find leased properties.
            It also allows collge/university students easily find accommodations near their place of study.
        </div>
    </div>
</div>

