
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .jumbotron-container {
        display:none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="ctnr-headers"><label>About Us</label></div>
        <div class="ctnr-info">
            Jamprop was designed for Jamaicans who are seeking to rent, buy or find leased properties (lands, rooms and houses).
            It is also the intention of Jamprop that collge/university students can use this website as well to better find
            accommodations near their place of study.
        </div>
    </div>
</div>

