
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <br/>
            <div class="ctnr-headers"><label>Contact Website Administrator</label></div>
            <div class="ctnr-info">
                The site administrator can be contacted via email at jamprops_admin@gmail.com.
                To be used for any enqueries or problems with the website.
            </div>
        </div>
    </div>
</div>

