
@{
    ViewBag.Title = "JProps - Contact";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
@section pageScript
{
    (function(){
    $('#contact').attr('class','active');
    })();
}
<style>
    .jumbotron-container {
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="ctnr-headers"><label>Contact Website Administrator</label></div>
        <div class="ctnr-info">
            The site administrator can be contacted via email at admin@jprops.net.
            To be used for any enqueries or problems with the website.
        </div>
    </div>
</div>

