@{
    ViewBag.Title = "JProps - How To";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .jumbotron-container {
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="ctnr-headers"><label>How To Use JamProp</label></div>
        <div class="ctnr-info">
            <ul>
                <li style="margin-bottom:30px;">
                    <div class="ctnr-headers">For Property Seekers</div>
                    <ul>
                        <li>
                            To request a property: simply select an image of the property that you want
                            ,review the details then enter the requested information into the form the select
                            the button labelled 'request property'. After which you can wait for the owner of the
                            property to contact you.
                            Or you can manually contact the owner of the property, by using their contact information.
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="ctnr-headers">For Property Owners</div>
                    <ul>
                        <li>
                            To post a property: simply click on the the 'advertise' button
                            on the top of the page and enter the requested information. You can have many properties, however
                            to add additional properties, you would have to sign in and select the button labelled
                            add property, then follow the instructions.
                            When someone requests your property, you will be alerted via email if one is present otherwise
                            keep checking your portal for updates. Also be on the alert for potential customers who may want to
                            contact you directly.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
