@{
    ViewBag.Title = "JProps - How To";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .jumbotron-container {
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="ctnr-headers"><label>How To Use JamProp</label></div>
        <div class="ctnr-info">
            <ul>
                <li style="margin-bottom:30px;">
                    <div class="ctnr-headers">For Property Seekers</div>
                    <ul>
						<li><b>To request a property</b></li>
                        <ul>
							<li>
								Simply select the image of the property that you want, 
								review the details then enter the requested information into the form, then select 
								the button labelled 'request property'. You can log into your account to view the
								status of your request, or you can manually contact the owner of the property, by using their contact information if you wish.
								You will be notified of the status by email.
							</li>
						</ul>
                    </ul>
                </li>
                <li>
                    <div class="ctnr-headers">For Property Owners</div>
                    <ul>
						<li>
							<li><b>To post a property</b></li>
							<ul>
								<li>
									Simply click on the the 'advertise' button
									on the top of the page and enter the requested information. Your subscription type determines
									the amount of properties that can be uploaded.
									When someone requests your property, you will be alerted via email as well as your portal,
									also be on the alert for potential customers who may want to contact you directly.
								</li>
							</ul>
						</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
